<!-- button onclick визначене в файлах *.js -->
<ul id="body-aside-1-buttons"
	class="buttons-y color-negative">
    <li>Дії у відкритій теці:</li>
    <li><button id="button-create-folder"
            title="Створення нової теки всередині відкритої теки">Нова тека</button></li>
    <li><button id="button-upload-report"
            title="Заладування нового файла з мого комп'ютера у відкриту теку">Новий файл</button></li>
    <li>Дії над обраним елементом:</li>
    <li><button id="button-download-element"
            title="Завантаження файла/теки на мій комп'ютер">Завантажити</button></li>
    <li><button id="button-rename-element"
            title="Перейменування файла/теки">Перейменувати</button></li>
    <li><button id="button-move-element"
            title="Переміщення файла/теки в іншу теку">Перемістити</button></li>
    <li><button id="button-delete-element"
            title="Видалення файла/теки">Видалити</button></li>
</ul>
